
.logo {
  flex: 2;
  margin: 0 0 0 40px;
}
.logo img {
  padding-right: 15px;
  vertical-align: middle;
  width: 140px;
  height: 58px;
}

/*fonts, colors*/
.header {
  position: relative;
  width: 100%;
  height: 800px;
}
@media (max-width: 1024px) {
  .header {
    height: 500px;
  }
}
@media (max-width: 760px) {
  .header {
    height: 30px;
  }
}
.header__banner {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.header__banner img {
  width: 100%;
  height: 100%;
}
@media (max-width: 760px) {
  .header__banner {
    display: none;
  }
}
.header__content {
  background: rgba(0, 91, 193, 0.6);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 760px) {
  .header__content {
    background: #005BC1;
    position: fixed;
    z-index: 4;
    width: 100%;
  }
}
.showcase {
  text-align: left;
  color: #FFFF;
  position: relative;
  z-index: 1;
}
.showcase__title {
  line-height: 71px;
  font-size: 48px;
  text-align: left;
  width: 70%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .showcase__title {
    font-size: 42px;
  }
}
.showcase__text {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 60%;
  margin: 0px 0px 35px 0px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .showcase__text {
    font-size: 14px;
  }
}
.showcase__btn {
  z-index: 1;
}
.showcase__color-block {
  background: rgba(0, 91, 193, 0.6);
  position: absolute;
  width: 444px;
  height: calc(100% - 80px);
  top: 80px;
}
@media (max-width: 760px) {
  .showcase__color-block {
    display: none;
  }
}
.showcase-container {
  margin: 200px 50px 90px 200px;
}
@media (max-width: 1024px) {
  .showcase-container {
    margin: 50px 50px;
  }
}
@media (max-width: 760px) {
  .showcase-container {
    display: none;
  }
}
.body-container {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.body-container--lock {
  overflow: hidden;
}
.wrapper-main {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .wrapper-main {
    margin: 0 20px;
  }
}
.section-container {
  margin: 120px 0 120px 0;
}
.section-container h2 {
  font-size: 30px;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
  .section-container {
    margin: 110px 0 110px 0;
  }
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.section-header__title {
  text-transform: uppercase;
  display: flex;
}
.section-header__title--common {
  font-family: 'Oswald', sans-serif;
  color: #343434;
}
.section-header__title img {
  margin: auto;
  padding-right: 20px;
}
.catalog__layout {
  display: flex;
  flex-direction: column;
}
.arenda__content {
  display: flex;
  flex-direction: row;
}
@media (max-width: 920px) {
  .arenda__content {
    flex-direction: column;
    align-items: center;
  }
}
.arenda__layout {
  display: flex;
  flex-direction: column;
}
.arenda__text {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  padding: 100px 80px 100px 0;
  color: #343434;
}
@media (max-width: 1024px) {
  .arenda__text {
    padding: 20px 20px 20px 20px;
  }
}
.news__layout {
  display: flex;
  flex-direction: column;
}
.news__content {
  display: flex;
}
@media (max-width: 1010px) {
  .news__content {
    flex-wrap: wrap;
  }
}
.news-main {
  display: flex;
}
@media (max-width: 1010px) {
  .news-main {
    padding: 0 30px;
  }
}
.news-main__img-wrap {
  padding-top: 30px;
}
@media (max-width: 1010px) {
  .news-main__img-wrap {
    padding-top: 20px;
  }
}
.news-main__img {
  width: 255px;
}
@media (max-width: 1010px) {
  .news-main__img {
    width: 200px;
  }
}
.news-main__text-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.news-main a {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #343434;
}
.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  color: #343434;
  font-family: 'Oswald', sans-serif;
}
@media (max-width: 1024px) {
  .news__header {
    font-size: 14px;
  }
}
.news__text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #343434;
  margin: auto;
}
@media (max-width: 1024px) {
  .news__text {
    font-size: 12px;
  }
}
.news-second {
  display: flex;
}
@media (max-width: 1010px) {
  .news-second {
    padding: 30px 0;
  }
}
.news-second__item {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.news-second__img {
  width: 128px;
}
@media (max-width: 1024px) {
  .news-second__img {
    width: 120px;
  }
}
.news-second__footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.news-second__date {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #343434;
}
.news-second time {
  padding-left: 12px;
}
.text__wrap1 {
  margin: 10px 0 20px 0;
  height: calc(100% - 10px);
  position: relative;
}
.text__wrap2 {
  margin: 35px 0 10px 0;
  height: calc(100% - 10px);
  position: relative;
}
@media (max-width: 1010px) {
  .text__wrap2 {
    margin: 10px 0 10px 0;
  }
}
.logo {
  flex: 2;
  margin: 0 0 0 40px;
}
.logo img {
  padding-right: 15px;
  vertical-align: middle;
  width: 140px;
  height: 58px;
}
.nav {
  flex: 3 100px;
  margin: 0 40px 0 0;
}
@media (max-width: 768px) {
  .nav {
    flex: 4 100px;
  }
}
@media (max-width: 760px) {
  .nav {
    position: fixed;
    top: 10%;
    right: -120%;
    width: 100%;
    height: 100%;
    background: #005BC1;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
}
.nav__menu {
  list-style: none;
  display: flex;
}
@media (max-width: 760px) {
  .nav__menu {
    flex-direction: column;
  }
}
.nav__item {
  padding-left: 15px;
  padding-right: 30px;
  align-items: center;
}
@media (max-width: 1024px) {
  .nav__item {
    padding: 0 15px 0 15px;
  }
}
@media (max-width: 900px) {
  .nav__item {
    padding: 0 10px 0 10px;
  }
}
.nav__item a {
  color: #FFFF;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.nav__item a:hover {
  opacity: 0.7;
}
@media (max-width: 760px) {
  .nav__item a {
    font-size: 1.5em;
  }
}
.nav--active {
  display: block;
  top: 10%;
  right: -10%;
  z-index: 3;
}
.tab {
  width: 100%;
  -webkit-animation: fadeEffect 0.5s;
          animation: fadeEffect 0.5s;
}
.tab__navigation {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 50px 0;
}
.tab__item {
  display: flex;
  margin: 10px;
  position: relative;
  width: 100%;
}
.tab__img {
  position: relative;
  width: 100%;
}
.tab__desc {
  background: #005BC1;
  position: absolute;
  padding: 20px;
  width: calc(100% - 25%);
  height: calc(100% - 70%);
  left: 25%;
  bottom: 5%;
}
@media (max-width: 995px) {
  .tab__desc {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .tab__desc {
    padding: 10px 0 10px 10px;
  }
}
.tab__desc-title {
  color: #FFFF;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 18px;
  margin: 0;
}
@media (max-width: 1047px) {
  .tab__desc-title {
    font-size: 16px;
  }
}
@media (max-width: 995px) {
  .tab__desc-title {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .tab__desc-title {
    font-size: 12px;
  }
}
.tab__btn {
  background: none;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
  border: none;
  margin: 0 23px 0 23px;
  outline: none;
}
.tab__btn--active {
  background-color: white;
  color: #005BC1;
  box-shadow: 0 8px 1px -5px #005BC1;
}
.tab__btn:hover {
  opacity: 0.6;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: flex;
}
.main-btn {
  color: #FFFF;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  padding: 12px 43px;
}
.main-btn:hover {
  opacity: 0.6;
}
.news-btn {
  color: #FFFF;
  font-family: 'Open Sans', sans-serif;
  background: #005BC1;
  border: none;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 18px 26px;
}
.news-btn:hover {
  opacity: 0.6;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev {
  position: relative !important;
}
.swiper-button-next {
  position: relative !important;
}
.slider-navigation {
  display: flex;
}
.slider-btn {
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 28px;
  color: #005BC1;
  border: 2px solid #005BC1;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}
.slider-btn:hover {
  background: #FFFFFF;
}
.slide-content {
  width: calc(100% - 40%);
  height: calc(100% - 70%);
  background: white;
  position: absolute;
  right: 5%;
  bottom: 5%;
  padding: 20px;
}
@media (max-width: 825px) {
  .slide-content {
    padding: 10px;
  }
}
.slide-content__title {
  color: #343434;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1em;
  margin: 0;
}
.slide-content__text {
  color: #343434;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin: 0;
}
.project-slide__img {
  width: inherit;
}
.arenda-slider__header {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #343434;
}
.arenda-slider__container {
  padding: 30px;
  border: 3px solid #005BC1;
  width: 665px;
  height: 400px;
}
@media (max-width: 1024px) {
  .arenda-slider__container {
    width: 600px;
  }
}
.arenda-slider__wrapper {
  width: 100%;
}
.arenda-slider__slide {
  display: flex;
}
.arenda-slide {
  display: flex;
  flex-direction: column;
}
.arenda-slide__title {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 30px;
  color: #343434;
}
.arenda-slide__list {
  padding: 0 40px 0 40px;
}
.arenda-slide__item {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #343434;
}
.footer {
  background: #005BC1;
}
.footer__container {
  padding: 35px 0 25px 0;
}
.footer-address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}
.footer-address__text {
  color: #FFFF;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
}
@media (max-width: 1010px) {
  .footer-address__text {
    font-size: 12px;
  }
}
.footer-address__text:nth-child(1) {
  font-size: 18px;
}
@media (max-width: 1010px) {
  .footer-address__text:nth-child(1) {
    font-size: 14px;
  }
}
.footer-menu {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #FFFFFF;
  padding: 25px 0;
}
.footer-menu__item {
  display: flex;
  flex-direction: column;
  margin: 0 110px 0 0;
}
.footer-menu__link {
  color: #FFFF;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 19px;
  cursor: pointer;
  margin: 5px 0 5px 0;
}
.footer-menu__link:hover {
  opacity: 0.6;
}
.footer-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-about__text {
  font-size: 14px;
  color: #FFFF;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mobile-menu {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
@media (max-width: 760px) {
  .mobile-menu {
    display: block;
    position: fixed;
    z-index: 4;
    right: 10px;
  }
}
.mobile-menu__line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #E5E5E5;
  margin: 10px;
}
.mobile-menu__line::before {
  position: absolute;
  width: 30px;
  height: 5px;
  left: 0;
  top: -10px;
  content: '';
  background-color: #E5E5E5;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.mobile-menu__line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #E5E5E5;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.mobile-menu__line--active {
  background-color: transparent;
}
.mobile-menu__line--active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2 ease-in 0.2s;
}
.mobile-menu__line--active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
* {
  box-sizing: border-box;
}
